<nav class="navbar  fixed-top navbar-expand-sm navbar-dark ">
 
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item"  >
        <a class="nav-link"  routerLink=""></a>
      </li>
      

      <li class="nav-item"  >
        <a class="nav-link" style="color:rgb(8, 8, 8) ;" routerLink="/"><h5> <img src="https://cdn-icons-png.flaticon.com/512/4290/4290854.png" width="30px" height="30px" > G Mart</h5>
          </a>
      </li>&nbsp;

      <li class="nav-item"  >
        <a class="nav-link" style="color:rgb(9, 9, 9) ;" routerLink="/"><h5> Products  </h5>
          </a>
      </li>
     
      
      <li class="nav-item"  >
        <a  class="nav-link" style="color:rgb(3, 3, 3) ;"  *ngIf="auth.getRole()" routerLink="order"> <h5> Edit Products <img src="https://cdn-icons-png.flaticon.com/512/1160/1160515.png" width="30px" height="30px"> </h5>
          </a>
      </li>&nbsp;
      <li class="nav-item"  >
        <a  class="nav-link" style="color:rgb(8, 8, 8) ;"  *ngIf="auth.getRole()" routerLink="shipping"><h5> Shipping Orders <img src="https://cdn-icons-png.flaticon.com/512/411/411712.png" width="30px" height="30px"></h5> 
          </a>
      </li>&nbsp;
      <li class="nav-item"  >
        <a class="nav-link" style="color:rgb(7, 7, 7) ;" routerLink="buy" *ngIf="auth.getRole()==false"> <h5>My Order <img src="https://cdn-icons-png.flaticon.com/512/1007/1007908.png" width="30px" height="30px"> </h5>
          </a>
      </li>
     


    </ul>


    <ul class="navbar-nav ml-auto" >

      <li class="nav-item"  >
        <div class="container">

          <div class="row height d-flex justify-content-center align-items-center">

            <div class="col-md-6">

              <div class="form">
                <i class="fa fa-search"></i>
                <input type="text" [(ngModel)]="searchTerm" (keyup)="search($event)" class="searchTerm form-control form-input" placeholder="Search....">
                <span ><i  (click)="startService()"></i></span>
                <span class="left-pan" *ngIf="voice==1"><i  (click)="stopService()" ></i></span>
              </div>
              
            </div>
            
          </div>
          
        </div>
      
      </li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
    </ul>
    
    


  
  <ul class="navbar-nav ml-auto" >
   
   
    <li class="nav-item"    >
       
      <a class="nav-link" style="color:rgb(2, 2, 2) ;" routerLink="addorder" *ngIf="auth.isLoggedIn()&&auth.getRole()==false" > <h4> 
         <i class="fa fa-shopping-cart" aria-hidden="true" style="color:white;" >   <div style="font-size:9px" class="badge bg-danger">{{item}}</div></i></h4>
        </a>
        <a class="nav-link" style="color:rgb(2, 2, 2) ;" routerLink="addorder" *ngIf="auth.isLoggedIn()==false&&auth.getRole()==false" > <h4> 
          <i class="fa fa-shopping-cart" aria-hidden="true" style="color:white;" >   <div style="font-size:9px" class="badge bg-danger">{{Withoutlog.length}}</div></i></h4>
         </a>
        
    </li>&nbsp;&nbsp;&nbsp;


    <li >
      <div class="dropdown">
        <i  type="button" data-bs-toggle="dropdown" aria-expanded="false">
         
          
            <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="avatar"
      class="img-fluid rounded-circle me-3" width="30">
    
        </i>
        <ul class="dropdown-menu" >
          <li><button class="dropdown-item" type="button">
           <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" width="30px" height="30px">
           &nbsp;&nbsp;&nbsp;Hi..!&nbsp;{{username}}
          <br> Welcome to G Mart</button></li>
            <hr>
          <li><button class="dropdown-item" type="button" routerLink="home">User Profile</button></li>
          <li><button class="dropdown-item" type="button" routerLink="address">Address</button></li>
          <li><button class="dropdown-item" type="button" routerLink="update">Change Password</button></li>
          <hr>
          <li><button class="dropdown-item" type="button" routerLink="logout">
            <img src="https://cdn-icons-png.flaticon.com/512/4436/4436954.png" width="30px" height="30px">
            &nbsp;&nbsp;&nbsp;
            Logout</button></li>
        </ul>
        </div>
    </li>

    <li class="nav-item">
     
      <a class="nav-link" style="color:rgb(7, 7, 7) ;" *ngIf="auth.isLoggedIn()" routerLink="logout" ><h5>Logout <i class="fa fa-power-off" aria-hidden="true" style="color:rgb(210, 35, 35) ;"></i></h5> </a>
      <a class="nav-link"   style="color:rgb(10, 9, 9) ;"  *ngIf="auth.isLoggedIn()==false"    routerLink="first" > <h5>Login</h5> </a>
    </li>
  </ul>
</div>
</nav>
