<br>
<br>
<br>





<!-- cart information -->
<ng-container *ngIf="m.length>0">
  <section class="h-100 gradient-custom" style="font-family: 'Times New Roman', Times, serif;">
    <div class="container py-5">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0"> Cart :- {{m.length}} items</h5>
            </div>
            <div class="card-body">
              <!-- Single item -->
              <div class="row" *ngFor="let p of m | filter:searchKey:'productName';index as i">

                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">

                  <!-- Image -->

                  <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                    <input class="form-check-input" type="checkbox" name="radioNoLabel" id="radioNoLabel2v" value=""
                      aria-label="..." style="margin-left: 10px;" (click)="selectproduct(p.productId,i) " checked />
                    <p class="small mb-0" style="margin-left: 35px;">Select Product</p>
                    <br>
                    <img src="{{p.image}}" class="w-100" alt="" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                    </a>
                  </div>
                  <!-- Image -->
                </div>

                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <!-- Data -->
                  <p><strong>{{p.productName}}</strong></p>
                  <p><strong>{{p.category}}</strong></p>
                  <p><b>{{p.price|currency:'INR'}}</b></p>
                  <h4 *ngIf="p.stock==0" style="color: red;"> Out Of stock</h4>
                  <p *ngIf="p.stock!=0"><b>STOCK :- &nbsp;{{p.stock}}</b></p>


                  <button *ngIf="login==true"  type="button" class="btn btn-danger btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                    title="Remove item">
                    <i class="fas fa-trash" (click)=Delete(p.productId) (click)=refresh() ></i>
                  </button>

                  <button *ngIf="login!=true" type="button" class="btn btn-danger btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                title="Remove item">
                <i class="fas fa-trash" (click)=deleteCartDataFromLs(i) (click)=refresh() ></i>
              </button>
                  <!-- <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                  title="Move to the wish list">
                  <i class="fas fa-heart"></i>
                </button> -->

                  <!-- Data -->
                </div>

                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" *ngIf="myArray[i]==1">
                  <!-- Quantity -->
                  <div class="d-flex mb-4" style="max-width: 100px">
                    <button class="btn btn-primary px-3 me-2" (click)="getquentityless(p.productId,i)"
                      style="height: 40px;">
                      <i class="fas fa-minus"></i>
                    </button>

                    <div class="form-outline">
                      <input id="form1" min="0" max="{{p.stock}}" name="quantity" value="{{Quentity[i]}}"
                        class="form-control" style="text-align: center;" />
                      <label class="form-label" for="form1">Quantity</label>
                    </div>

                    <button class="btn btn-primary px-3 ms-2" (click)="getquentity(p.productId,i)"
                      style="height: 40px;">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <!-- Quantity -->

                  <!-- Price -->
                  <p class="text-start text-md-center ">
                    Total Amount:&nbsp;<strong>{{Quentity[i]*p.price|currency:'INR'}} </strong>
                  </p>

                  <!-- Price -->

                </div>
                <span layout="row">
                  <hr flex />
                </span>



              </div>





            </div>
          </div>
          <!-- <div class="card mb-4">
          <div class="card-body">
             <button type="button" class="btn btn-warning btn-lg btn-block"  
              data-bs-target="#exampleModal" (click)="T()"  >
              <strong> TRASH </strong>
              </button>
            
              <br><br>
              <div *ngIf="o">
                  <table class=" table table-striped table-hover " style="background-color:white;border: solid black;">
                      <thead>
                          <tr>
                              <th>Id</th>
                              <th>Product Name</th>
                              <th>Image</th>
                              <th>Stock</th>
              
                              <th>Price</th>
                              <th>Category</th>
                              <th id="remove">Remove</th>
                              <th>Restore</th>
              
              
                          </tr>
              
                      </thead>
              
                      <tbody>
                          <tr *ngFor="let p of i ">
                              <td>{{p.productId}}</td>
                              <td>{{p.productName}}</td>
                              <td><img src="{{p.image}}" width="60px" height="60px"></td>
                              <td>{{p.stock}}</td>
              
                              <td>{{p.price}}</td>
                              <td>{{p.category}}</td>
                             
                              <td>  <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                                title="Move to the wish list"> <i class="fas fa-trash" (click)=DeleteFromTrash(p.productId)></i>
                              </button></td>
                              
                              <td><button type="button" class="btn btn-warning btn-sm mb-2" data-mdb-toggle="tooltip"
                                title="Move to the wish list"> <i  class="fas fa-recycle" aria-hidden="true" (click)=Addtocart(p.productId)></i>
                              </button></td>
              
              
              
                          </tr>
                      </tbody>
              
                  </table>
              </div>
              
          </div>
        </div> -->

        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Summary</h5>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                  Products quantity
                  <span>{{totalcquentity}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                  Products Amount
                  <span>{{totalAmount|currency:'INR'}}</span>
                </li>
                <!-- <li 
              class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
              <div>
                GAT Amount
                <p class="mb-0">(Per on each product GST=0.5%)</p>
                  
            
            </div>
              <span>{{totalAmount*gstpersentage*totalcquentity/100|currency:'INR'}}</span>
            </li>

            <li 
            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
             Shipping Amount 
            <span>{{shippingamount|currency:'INR'}}</span>
          </li> -->

                <li class="list-group-item d-flex justify-content-between align-items-center px-0">

                  <span></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                  <div>



                    <strong>Total amount</strong>
                    <strong>
                      <!-- <p class="mb-0">(including all taxes)</p> -->
                    </strong>
                  </div>
                  <span><strong>{{totalAmount|currency:'INR'}}</strong></span>
                </li>
              </ul>

              <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal"
                (click)="BUY()">
                Go to checkout
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>








  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content ">

        <!-- Modal Header -->
        <div class="modal-header">


          <button type="button" class="close" data-dismiss="modal" style="float: left;">&times;</button>
        </div>

        <!-- Modal body -->
        <!-- <div class="modal-body"   > -->
        <!-- MultiStep Form -->

        <div class="row justify-content-center mt-0">
          <div class="col-11  text-center">
            <div class="card" style="font-family: 'Times New Roman', Times, serif;">
              <h2 style="padding-top: 10px;"><strong> User Order Process</strong></h2>
              <p>Fill all form field to go to next step</p>
              <div class="row">
                <div class="col-md-12 mx-0">
                  <form id="msform">
                    <!-- progressbar -->
                    <ul id="progressbar">

                      <li class="active" id="account"><strong>Address</strong></li>
                      <li id="personal" class="active" *ngIf="step>=2"><strong>Payment Summary</strong></li>
                      <li id="personal" *ngIf="step!=2 && step!=3 && step!=4"><strong>Payment Summary</strong></li>
                      <li id="payment" class="active" *ngIf="step>=3"><strong>Payment</strong></li>
                      <li id="payment" *ngIf="step!=3 && step!=4"><strong>Payment</strong></li>
                      <li id="confirm" class="active" *ngIf="step>=4"><strong>Finish</strong></li>
                      <li id="confirm" *ngIf="step!=4"><strong>Finish</strong></li>
                    </ul>
                    <!-- fieldsets -->
                    <fieldset *ngIf="step==1">

                      <!-- <div class="cardss">
                            <h2 class="fs-title" style="text-align: center;"> Selected Products Information</h2>
                          <div class="card mb-3" *ngFor="let product of extra;index as i">
                            <div class="card-body">
                              <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                  <div>
                                    <img
                                    src="{{product.image}}"
                                      class="img-fluid rounded-3" alt="Shopping item" style="width: 75px;height: 55px;">
                                  </div>
                                  <div class="ms-3">
                                    <h6>{{product.productName}}</h6>
                                    <p class="small mb-0">{{product.category}}</p>
                                  </div>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                  <div style="width: 80px;">
                                    <h6 class="fw-normal mb-0"> Quy:{{Quentity[i]}}</h6>
                                    
                                  </div>
                                  
                                  <h5 class="mb-0">{{Quentity[i]*product.price|currency:'INR'}}</h5>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
 -->



                      <div class="cardss">
                        <h2 class="fs-title" style="text-align: center;">Addres Information</h2>

                        <mat-accordion>
                          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                Add Addess
                              </mat-panel-title>
                              <mat-panel-description>

                              </mat-panel-description>
                            </mat-expansion-panel-header>


                            <form #bForm="ngForm" (ngSubmit)="AddAddress();bForm.reset();">

                              <div class="row mb-4">
                                <div class="col">
                                  <div class="form-outline">
                                    <input name="userName" [(ngModel)]="address1.userName" required type="text"
                                      [class.is-invalid]="userName.invalid && userName.touched" class="form-control"
                                      id="applicantName" #userName="ngModel" placeholder="UserName" pattern="">
                                  </div>
                                </div>
                              </div>


                              <div class="col">
                                <div class="form-outline">

                                  <input name="houseNumber" [(ngModel)]="address1.houseNumber" required type="text"
                                    [class.is-invalid]="houseNumber.invalid && houseNumber.touched" class="form-control"
                                    id="houseNumber" #houseNumber="ngModel" placeholder="houseNumber" pattern="">

                                </div>
                              </div>


                              <div class="col">
                                <div class="form-outline">
                                  <input name="colony" [(ngModel)]="address1.colony" required type="text"
                                    [class.is-invalid]="colony.invalid && colony.touched" class="form-control"
                                    id="colony" #colony="ngModel" placeholder="colony" pattern="">

                                </div>
                              </div>

                              <div class="col">
                                <div class="form-outline">
                                  <input name="city" [(ngModel)]="address1.city" required type="text"
                                    [class.is-invalid]="city.invalid && city.touched" class="form-control" id="city"
                                    #city="ngModel" placeholder="city" pattern="">


                                </div>
                              </div>


                              <div class="col">
                                <div class="form-outline">
                                  <input name="district" [(ngModel)]="address1.district" required type="text"
                                    [class.is-invalid]="district.invalid && district.touched" class="form-control"
                                    id="district" #district="ngModel" placeholder="district" pattern="">

                                </div>
                              </div>

                              <div class="col">
                                <div class="form-outline">
                                  <input name="state" [(ngModel)]="address1.state" required type="text"
                                    [class.is-invalid]="state.invalid && state.touched" class="form-control" id="state"
                                    #state="ngModel" placeholder="state" pattern="">

                                </div>
                              </div>


                              <div class="col">
                                <div class="form-outline">
                                  <input name="pinCode" [(ngModel)]="address1.pinCode" required type="text"
                                    [class.is-invalid]="pinCode.invalid && pinCode.touched" class="form-control"
                                    id="pinCode" #pinCode="ngModel" placeholder="pinCode" pattern="">

                                </div>
                              </div>


                              <div class="col">
                                <div class="form-outline">
                                  <input name="country" [(ngModel)]="address1.country" required type="text"
                                    [class.is-invalid]="country.invalid && country.touched" class="form-control"
                                    id="country" #country="ngModel" placeholder="country" pattern="">

                                </div>
                              </div>


                              <div class="col">
                                <div class="form-outline">
                                  <input name="phoneNumber" [(ngModel)]="address1.phoneNumber" required type="text"
                                    [class.is-invalid]="phoneNumber.invalid && phoneNumber.touched" class="form-control"
                                    id="phoneNumber" #phoneNumber="ngModel" placeholder="phoneNumber" pattern="">


                                </div>
                              </div>


                              <!-- Submit button -->
                              <input type="submit" name="make_payment" class="next action-button" value="Confirm"
                                style="float: right;" />


                            </form>
                          </mat-expansion-panel>
                        </mat-accordion>
                        <br>
                        <br>




                        <div *ngFor="let p of useraddresses;index as i" style="text-align: left;">
                          <div class="cardss">
                            <input type="radio" class="form-check-input" name="options" [value]="p.addressId"
                              style="margin-left: 5px;" [(ngModel)]="conformaddress" checked>
                            <p class="small mb-0" style="margin-left: 25px;">Select Address</p>
                            <!-- <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel2v"  style="margin-left: 5px;"  []
      value="" aria-label="..."  /> <p class="small mb-0" style="margin-left: 25px;">Select Address</p> -->
                            <br>
                            <!-- <p>User Name:-{{p.userName}}</p> -->
                            <p>
                              Address:-{{p.houseNumber}}, {{p.colony}}, {{p.city}}, {{p.district}}, {{p.state}},
                              {{p.country}}, {{p.pinCode}}, {{p.state}}, {{p.country}}</p>
                            <p>Phone No:-{{p.phoneNumber}}</p>
                            <!-- <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
data-bs-target="#editModal" (click)="editData(p)">Edit</button> -->
                            <input type="button" name="previous" class="previous action-button-previous" value="Delete"
                              (click)="DeleteAddress(p.addressId)" />
                            <input type="button" name="next" class="next action-button" value="Edit"
                              data-bs-toggle="modal" data-bs-target="#editModal" (click)="editData(p)" />
                          </div>

                        </div>

                      </div>








                      <!-- <div class="form-card" >
                                <h2 class="fs-title">Your's Selected Products Information</h2>
                                <div class="panel-body p-3">   
                                  <div class="card mb-4" *ngFor="let product of extra">
                                    <h3>{{product.category}}</h3>
                                     <img src="{{product.image}}" class="img-fluid img-thumbnail" alt="" width="50px" height="50px">
                                     <h3>{{product.productName}}</h3>
                                    
                                     <p>{{product.price|currency:'INR'}}</p>
                                    <p>Quantity:-</p>
                                     <hr>
                                  </div>
                              </div>
                            </div> -->

                      <input type="button" name="next" class="next action-button" value="Next Step" (click)="next()" />
                    </fieldset>
                    <fieldset *ngIf="step==2">

                      <div class="cardss mb-4">
                        <div class="cardss-header py-3">
                          <h5 class="mb-0">Payment Summary</h5>
                        </div>
                        <div class="cardss-body">
                          <ul class="list-group list-group-flush">
                            <li
                              class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                              Products quantity
                              <span>{{totalcquentity}}</span>
                            </li>
                            <li
                              class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                              Products Amount
                              <span>{{totalAmount|currency:'INR'}}</span>
                            </li>
                            <!-- <li 
                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0" style="float: left;">
                                  Taxes
                                <span>{{totalAmount*gstpersentage*totalcquentity/100|currency:'INR'}}</span>
                              </li> -->

                            <li
                              class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                              Shipping Amount
                              <span>{{"100"|currency:'INR'}}</span>
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">

                              <span></span>
                            </li>
                            <li
                              class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                              <div>


                                <strong>Total amount</strong>
                                <strong>
                                  <p class="mb-0">(including all tax's)</p>
                                </strong>
                              </div>
                              <span><strong>{{totalAmount*totalcquentity+100|currency:'INR'}}</strong></span>
                            </li>
                          </ul>

                        </div>
                      </div>

                      <input type="button" name="previous" class="previous action-button-previous" value="Previous"
                        (click)="back()" />
                      <input type="button" name="next" class="next action-button" value="Next Step" (click)="next()" />
                    </fieldset>
                    <fieldset *ngIf="step==3">
                      <div class="cardss">
                        <h2 class="fs-title" style="text-align: center;">Payment Information</h2>

                        <!-- <mat-accordion>
                                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                      <mat-expansion-panel-header>
                                          <mat-panel-title>
                                           Other Payment 
                                          </mat-panel-title>
                                          <mat-panel-description>
                                            Payment Detail from User
                                          </mat-panel-description>
                                      </mat-expansion-panel-header>
                                     
                                      <div class="radio-group">
                                        <div class='radio' data-value="credit"><img src="https://tse1.mm.bing.net/th/id/OIP.yKjzEtVNi3lWIN6bEOvxjwEyDL?w=253&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" width="200px" height="100px"></div>
                                       
                                        <br>
                                    </div>
                                    <label class="pay">Card Holder Name*</label>
                                    <input type="text" name="holdername" placeholder=""/>
                                    <div class="row">
                                        <div class="col-9">
                                            <label class="pay">Card Number*</label>
                                            <input type="text" name="cardno" placeholder=""/>
                                        </div>
                                        <div class="col-3">
                                            <label class="pay">CVC*</label>
                                            <input type="password" name="cvcpwd" placeholder="***"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <label class="pay">Expiry Date*</label>
                                        </div>
                                        <div class="col-9">
                                            <select class="list-dt" id="month" name="expmonth">
                                                <option selected>Month</option>
                                                <option>January</option>
                                                <option>February</option>
                                                <option>March</option>
                                                <option>April</option>
                                                <option>May</option>
                                                <option>June</option>
                                                <option>July</option>
                                                <option>August</option>
                                                <option>September</option>
                                                <option>October</option>
                                                <option>November</option>
                                                <option>December</option>
                                            </select>
                                            <select class="list-dt" id="year" name="expyear">
                                                <option selected>Year</option>
                                            </select>
                                        </div>
                                        
                                       
                                    </div>
                                  </mat-expansion-panel>
                                </mat-accordion> -->


                        <br>

                        <div class="cardss">
                          <div class="row">
                            <div class="col">
                              <form>

                                <div class="d-flex flex-row pb-3" style="margin-top: 40px;">

                                  <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel2v"
                                    value="" aria-label="..." style="margin-left: 10px;" />


                                  <h4 style="margin-left: 40px;"> Cash On Delivery </h4>

                                </div>
                                <!-- <div class="d-flex flex-row pb-3">
                                         
                                            <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel2v"
                                              value="" aria-label="..."  style="margin-left: 10px;" />
                                              <p style="margin-left: 30px;" ><strong> Other Payments </strong></p> </div> -->

                                <!-- <p>For Other Payments Check Top</p> -->

                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <input type="button" name="previous" class="previous action-button-previous" value="Previous"
                        (click)="back()" />
                      <input type="button" name="make_payment" class="next action-button" value="Confirm"
                        (click)="totalorder()" (click)="next()" />
                    </fieldset>

                    <fieldset *ngIf="step==4">
                      <div class="cardss">
                        <h2 class="fs-title text-center">Success !</h2>
                        <br><br>
                        <div class="row justify-content-center">
                          <div class="col-3">
                            <img src="https://cdn-icons-png.flaticon.com/512/9141/9141633.png" class="fit-image">
                            <br>
                            <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image">
                          </div>
                        </div>
                        <br><br>
                        <div class="row justify-content-center">
                          <div class="col-7 text-center">
                            <h5 style="color: green;">You Have Successfully Placed Order</h5>
                            <input type="button" name="make_payment" class="next action-button" value="Done"
                              routerLink="/buy"  />
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>



      </div>
    </div>
  </div>






<footer>
  <div class="footer-content">
    <img src="https://cdn-icons-png.flaticon.com/512/2331/2331970.png" class="logo" alt="">
    <div class="footer-ul-container">
      <ul class="category">
        <li class="category-title">men</li>
        <li><a href="#" class="footer-link">t-shirts</a></li>
        <li><a href="#" class="footer-link">sweatshirts</a></li>
        <li><a href="#" class="footer-link">shirts</a></li>
        <li><a href="#" class="footer-link">jeans</a></li>
        <li><a href="#" class="footer-link">trousers</a></li>
        <li><a href="#" class="footer-link">shoes</a></li>
        <li><a href="#" class="footer-link">casuals</a></li>
        <li><a href="#" class="footer-link">formals</a></li>
        <li><a href="#" class="footer-link">sports</a></li>
        <li><a href="#" class="footer-link">watch</a></li>
      </ul>
      <ul class="category">
        <li class="category-title">women</li>
        <li><a href="#" class="footer-link">t-shirts</a></li>
        <li><a href="#" class="footer-link">sweatshirts</a></li>
        <li><a href="#" class="footer-link">shirts</a></li>
        <li><a href="#" class="footer-link">jeans</a></li>
        <li><a href="#" class="footer-link">trousers</a></li>
        <li><a href="#" class="footer-link">shoes</a></li>
        <li><a href="#" class="footer-link">casuals</a></li>
        <li><a href="#" class="footer-link">formals</a></li>
        <li><a href="#" class="footer-link">sports</a></li>
        <li><a href="#" class="footer-link">watch</a></li>
      </ul>
    </div>
  </div>


  <p class="info">support emails - help@clothing.com, customersupport@clothing.com</p>
  <p class="info">telephone - 180 00 00 001, 180 00 00 002</p>
  <div class="footer-social-container">
    <div>
      <a href="#" class="social-link">terms & services</a>
      <a href="#" class="social-link">privacy page</a>
    </div>
    <div>

      <a href="#" class="social-link"><img src="https://cdn-icons-png.flaticon.com/512/2504/2504918.png" width="30px"
          height="30px" alt="">
        instagram</a>

      <a href="#" class="social-link"><img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" width="30px"
          height="30px" alt="">
        facebook</a>

      <a href="#" class="social-link"><img src="https://cdn-icons-png.flaticon.com/512/2504/2504947.png" width="30px"
          height="30px" alt="">
        twitter</a>
    </div>
  </div>
  <p class="footer-credit">Clothing, Best apparels online store</p>
</footer>
</ng-container>

<ng-container *ngIf="m.length==0"><div class="row" style="margin-left:0px;margin-top: 50px;"><div
  class="container" style="padding-top: 50px;">
  <div class="card1 w-50" style="margin-left: 250px;">
     <div class="card-body" style="margin-left: 200px;"><img src="https://cdn-icons-png.flaticon.com/512/412/412986.png"
        alt="emptycart" width="200px"></div><div class="card-title"
      style="margin-left:200px"><br>
      <h5 style="color: red;">Your G MART Cart is empty!</h5></div>
      <br>
   <a href="/"><button class="btn btn-warning" style="margin-bottom: 10px;margin-left: 250px;">Shop
        Now</button></a></div>
</div></div></ng-container>